### Olympic Medals with pandas!

In [ ]:
import numpy as np
import pandas as pd

* web에서 csv를 불러오기.  
https://bit.ly/2YdeLFK

In [ ]:
medals = 

# display top 5 rows


# display last 5 rows

* medals에서 NOC를 추출하여 알파벳 순서대로 정렬한 뒤 countries에 저장하세요.

In [ ]:
countries = 
print(countries)

* Iterating with a for loop
    - countries 내의 요소를 for loop로 하나씩 빼내서 print 하세요.

In [ ]:
for __in __:
    print(__)

* Make iterator country_it with countries
* Iterating over iterables : next()

In [ ]:
country_it = __(countries)

# print country_it with next()


# two more times.

* Make dictionary olympic_dic with comprehesions.  
ex) {1896: 'Athens', 1900: 'Paris', ..., 2008: 'Beijing'}  
key : medals.Edition.   value : medals.City  
    - _HINT : using zip()!_

In [ ]:
years = 
cities = 

# zip years and cities


# print list of the zip

In [ ]:
olympic_dic = 
print(olympic_dic)

* Iterating over dicionaries (olympic_dic)
    - olympic_dic의 key와 value를 하나씩 빼내서 print 하세요.

In [ ]:
for __, __ in __:
    print(__, __)

* Make dictionary olympic_dic1 with nested sturcture.  
    - 위에 했던 코드 응용하면 매우 좋습니다.  
    - winners는 해당 년도 올림픽의 전체 수상자 수입니다.  
ex) {1896: {'City': 'Athens', 'winners': 151}, 2008: {'City': 'Beijing', 'winners': 2042}}

In [ ]:
winners = 

# zip cities, winners as z1, and zip years and z1


# print list of the zip

In [ ]:
olympic_dic1 = 
print(olympic_dic1)

* Iterating over dicionaries (olympic_dic1)
    - olympic_dic1의 key와 value를 하나씩 빼내서 print 하세요.

In [1]:
for __,__  in ___:
    print(__, __)

* By Using dictionary olympic_dic1
    - Sydney 올림픽은 몇 년에 열렸습니까?
    - 1972년에 열린 올림픽은 어느 도시에서 열렸습니까?
    - Beijing 올림픽의 전체 메달 수상자는 총 몇 명이었습니까?

In [ ]:
# print first answer

# print second answer

# print third answer